body {
font-family: Arial, sans-serif;
background-color: #ff0000;
color: #333;
margin: 0;
padding: 0;
}
header {
background-color: #5b4caf;
color: white;
text-align: center;
padding: 10px;
}
section {
padding: 20px;
}
footer {
text-align: center;
padding: 10px;
background-color: #fbff00;
color: white;
}